<!doctype html>
<html >
  <head>
	<meta charset="utf-8">
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/custom.css" rel="stylesheet">
	
    <script src="js/angular.min.js"></script>
	<script src="js/main.js"></script>
  </head>
  <body ng-app="myshop">
		
	 <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Добро пожаловать в наш магазин!</h1>
        <p>Вы когда то слышали фразу "ЗА даньги можно купить все!" ?? И мы Вам докажим что за деньги можно купить реально все!!</p>
       
      </div>
    </div>	
		
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Главная</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <div class="mycard navbar-right">
				<span> Card </span>
          </div>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
	

    <div class="container" ng-controller="iControler as ic">
      <!-- Example row of columns -->
      <div class="row"  >
        <div class="col-md-4 tovar" ng-repeat="post in posts">
          <h2 ng-bind="post.title">Heading</h2>
          <p><img ng-src="img/full/{{post.image}}" /></p>
          <p ng-bind="post.body">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p>Цена: <span ng-bind="post.price | currency"></span></p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        
      </div>

      <hr>

      <footer>
        <p>&copy; Магазин органов	2015</p>
      </footer>
    </div> <!-- /container -->	
		
	<!--div ng-controller="iControler as ic">
		<ul ng-repeat="post in posts">
			<li>{{post}}</li>
		</ul>
		
	</div-->
	
	
	
	  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1.11.2.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
